# Sring data type in python

In [2]:
#  string define in particular boundary
#  ' ' , " " , ''' ''' , """  """
name: str = "Emmad"
print(name)
print(type(name))

Emmad
<class 'str'>

In [5]:
#  conver special meaning character into simple character, place \ befor character 
message = 'PIAIC Student Card \nStudent name: \nFather\'s name: '
print(message)

PIAIC Student Card
Student name:
Father's name:

# Concatination
* Can only do in String

In [9]:
name: str = "Syed Emmad Ahmed"
fname: str = "Syed Tanveer Ahmed"
education: str = "Generative AI Specialist"
age: str = "22"

card: str = "PIAIC Student Card \nStudent name: " + name + "\nFather name: " + fname + "\nEducation: " + education + "\nAge: " + age
print(card)

PIAIC Student Card
Student name: Syed Emmad Ahmed
Father name: Syed Tanveer Ahmed
Education: Generative AI Specialist
Age: 22

In [10]:
#  we can line change by back slash -------> line continue
print(7 + \
      3 + \
        4)

14

In [12]:
name: str = "Syed Emmad Ahmed"
fname: str = "Syed Tanveer Ahmed"
education: str = "Generative AI Specialist"
age: str = "22"

card: str = "PIAIC Student Card \nStudent name: " + name + \
    "\nFather name: " + fname + \
    "\nEducation: " + education + \
        "\nAge: " + age
print(card)

PIAIC Student Card
Student name: Syed Emmad Ahmed
Father name: Syed Tanveer Ahmed
Education: Generative AI Specialist
Age: 22

# Define multiline String
* """string"""
* '''string'''

In [17]:
name: str = "Syed Emmad Ahmed"
fname: str = "Syed Tanveer Ahmed"
education: str = "Generative AI Specialist"
age: str = "22"

card: str = """
PIAIC STUDENT CARD
Name: ....
Father name: ....
Age: ...
"""
print(card)

PIAIC STUDENT CARD
Name: ....
Father name: ....
Age: ...

# fstring

In [18]:
name: str = "Syed Emmad Ahmed"
fname: str = "Syed Tanveer Ahmed"
education: str = "Generative AI Specialist"
age: int = 22

card: str = f"""PIAIC Student Card 
Student name: {name}
Father name: {fname} 
Education: {education}
Age: {age}
"""
print(card)

PIAIC Student Card
Student name: Syed Emmad Ahmed
Father name: Syed Tanveer Ahmed
Education: Generative AI Specialist
Age: 22

In [19]:
name: str = "Syed Emmad Ahmed"
fname: str = "Syed Tanveer Ahmed"
education: str = "Generative AI Specialist"
age: int = 22

card: str = f"""PIAIC Student Card 
Student name: {name}
Father name: {fname} 
Education: {education}
Age: {age}


Total = {2 + 5 + 6}  
"""

print(card)

PIAIC Student Card
Student name: Syed Emmad Ahmed
Father name: Syed Tanveer Ahmed
Education: Generative AI Specialist
Age: 22


Total = 13

### F-String and Jinja Style

In [20]:
# Fstring Style
f"""
Student name: {name}
"""

'\nStudent name: Syed Emmad Ahmed\n'

In [21]:
#  Jinja Style
"""
Student name {{name}}
"""

'\nStudent name {{name}}\n'

#### old Method use in C language

In [23]:
name: str = "Syed Emmad Ahmed"
fname: str = "Syed Tanveer Ahmed"
education: str = "Generative AI Specialist"
age: int = 22

card : str = f"""
PIAIC Student Card
Name: %s
Father name: %s
Age: %d
Education: %s

"""% (name, fname, age, education)
print(card)

PIAIC Student Card
Name: Syed Emmad Ahmed
Father name: Syed Tanveer Ahmed
Age: 22
Education: Generative AI Specialist

In [24]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

### Format method

In [25]:
a= 2
b= 4
# {} placeholer
"Pakistan value a = {} and value b = {} ".format(a,b)

'Pakistan value a = 2 and value b = 4 '

In [26]:
name: str = "Syed Emmad Ahmed"
fname: str = "Syed Tanveer Ahmed"
education: str = "Generative AI Specialist"
age: int = 22

card: str = """PIAIC Student Card 
Student name: {}
Father name: {} 
Education: {}
Age: {}
""".format(name, fname, education, age)
print(card)

PIAIC Student Card
Student name: Syed Emmad Ahmed
Father name: Syed Tanveer Ahmed
Education: Generative AI Specialist
Age: 22

In [27]:
name: str = "Syed Emmad Ahmed"
fname: str = "Syed Tanveer Ahmed"
education: str = "Generative AI Specialist"
age: int = 22

card: str = """PIAIC Student Card 
Student name: {2}
Father name: {0} 
Education: {3}
Age: {1}
""".format(fname, age, name, education)
print(card)

PIAIC Student Card
Student name: Syed Emmad Ahmed
Father name: Syed Tanveer Ahmed
Education: Generative AI Specialist
Age: 22

In [28]:
name: str = "Syed Emmad Ahmed"
fname: str = "Syed Tanveer Ahmed"
education: str = "Generative AI Specialist"
age: int = 22

card: str = """PIAIC Student Card 
Student name: {a}
Father name: {b} 
Education: {c}
Age: {d}
""".format(a=name, b=fname,c=education , d=age)
print(card)

PIAIC Student Card
Student name: Syed Emmad Ahmed
Father name: Syed Tanveer Ahmed
Education: Generative AI Specialist
Age: 22

## Recommended

In [29]:
name: str = "Syed Emmad Ahmed"
fname: str = "Syed Tanveer Ahmed"
education: str = "Generative AI Specialist"
age: int = 22

card: str = f"""PIAIC Student Card 
Student name: {name}
Father name: {fname} 
Education: {education}
Age: {age}
"""
print(card)

PIAIC Student Card
Student name: Syed Emmad Ahmed
Father name: Syed Tanveer Ahmed
Education: Generative AI Specialist
Age: 22

In [30]:
name: str = "Syed Emmad Ahmed"
fname: str = "Syed Tanveer Ahmed"
education: str = "Generative AI Specialist"
age: int = 22

card: str = """PIAIC Student Card 
Student name: {a}
Father name: {b} 
Education: {c}
Age: {d}
""".format(a=name, b=fname,c=education , d=age)
print(card)

PIAIC Student Card
Student name: Syed Emmad Ahmed
Father name: Syed Tanveer Ahmed
Education: Generative AI Specialist
Age: 22

In [35]:
student_code : str = """
print("My name in Emmad")
a : int = 1
b : int = 6
print(a + b)
"""

exec(student_code)

My name in Emmad
7

### Explore String Methods and attributes

In [37]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [39]:
name: str = "syed emmad ahmed"
print(name)
print(name.capitalize())

syed emmad ahmed
Syed emmad ahmed

### Casefold
* Converts the string to lowercase and is more aggressive than lower() as it is intended to remove all case distinctions in Unicode characters.

In [41]:
name: str = "syed emmad ahmed"
print(name)
print(name.casefold()) # kamm same but logic alag hay
# casefold ye kheta haike kisi bhi case ko follow nahi kerna

syed emmad ahmed
syed emmad ahmed

### Lower
* Converts all characters in the string to lowercase.

In [42]:
name: str = "syed emmad ahmed"
print(name)
print(name.lower()) # kamm same but logic alag hay
# lowercase subko chota kerdeta hay

syed emmad ahmed
syed emmad ahmed

### Lstrip
* Removes any leading (left-side) whitespace or specified characters from the string.

In [44]:
name: str = "     syed emmad ahmed     "
display(name)
display(name.lstrip())

     syed emmad ahmed
syed emmad ahmed

### rstrip
*  Removes any trailing (right-side) whitespace or specified characters from the string.

In [45]:
name: str = "     syed emmad ahmed     "
display(name)
display(name.rstrip())

'     syed emmad ahmed     '

'     syed emmad ahmed'

### strip
* Removes both leading and trailing whitespace or specified characters from the string.

In [46]:
name: str = "     syed emmad ahmed     "
display(name)
display(name.strip())

'     syed emmad ahmed     '

'syed emmad ahmed'

In [7]:
# Regex Expression------> to remove spaces 

import re
name: str = "  syed             emmad    ahmed     "
display(name)
name1: str =re.sub(' {2,100}', " ", name)
display(name1)

'  syed             emmad    ahmed     '

' syed emmad ahmed '

In [4]:
# Regex Expression------> to remove spaces 

import re
name: str = "  syed             emmad    ahmed      "
display(name)
name1: str =re.sub(' {2,100}' , " ", name).strip()
display(name1)

'  syed             emmad    ahmed      '

'syed emmad ahmed'

In [50]:
name: str = "syed emmad ahmed"
print(name)
print(name.title())

syed emmad ahmed
Syed Emmad Ahmed

In [52]:
name: str = "syed emmad ahmed"
print(name)
print(name.upper())
print(name.lower())

syed emmad ahmed
SYED EMMAD AHMED
syed emmad ahmed

In [ ]:
# Special meaning character
# \n
# \t
# \b

In [53]:
name: str = "\nEmmad"
print(name)

Emmad

In [54]:
name: str = "\t \t Emmad"
print(name)

	 	 Emmad

In [55]:
name: str = "Name:\bEmmad"
print(name)

NameEmmad

In [58]:
url : str = "https://google.com"
url.removeprefix("https://")
# url.removesuffix(".com")

'google.com'

* strings are immutable when I apply a upper function it return new string

In [6]:
# strings are immutable
name : str = "Emmad"
print(name)
print(name.upper())
print(name)

Emmad
EMMAD
Emmad

In [11]:
# strings are immutable
name : str = "Emmad"
print(name)
print(name.lower())
print(name)

Emmad
emmad
Emmad

In [13]:
name: str = "Emmad!!!!"
print(name)
print(name.rstrip("!"))

Emmad!!!!
Emmad

In [14]:
name: str = "!!!!Emmad"
print(name)
print(name.lstrip("!"))

!!!!Emmad
Emmad

### replace("old","new")
*  Replaces all occurrences of a specified substring (old) with another substring (new).

In [15]:
name: str ="Syed Emmad Ahmed"
print(name)
print(name.replace("Emmad","Tanveer"))

Syed Emmad Ahmed
Syed Tanveer Ahmed

### split
* Splits the string into a list of substrings, using the specified separator. By default, it splits by whitespace.

In [16]:
# convert each word into list, space determine the element in list
name: str ="Syed Emmad Ahmed"
print(name)
print(name.split(" "))

Syed Emmad Ahmed
['Syed', 'Emmad', 'Ahmed']

In [18]:
#  capitalize method capital all first character and the remaining converted into lower
blogheading: str = "intoduction to js"
print(blogheading.capitalize())

# remaining convert into lower
blogheading2 : str = "introDuction to reacT"
print(blogheading2.capitalize())

Intoduction to js
Introduction to react

In [19]:
name: str = "Emmad"
print(len(name))
print(name.center(50))
print(len(name.center(50)))

5
                      Emmad
50

In [21]:
message: str = "there is soo much emmad and every where is emmad look like emmad and handsome like emmad like every where emmad"
print(message.count("emmad"))

5

### startdwith(prefix)
* Checks if the string starts with the specified prefix.

In [6]:
detail: str = "hello there  this is emmad and you name is what"
print(detail.startswith("hello"))

True

### endswith(suffix)
* Checks if the string ends with the specified suffix.

In [22]:
detail: str = "hello there  this is emmad and you name is what"
print(detail.endswith("what"))

True

In [43]:
detail: str = "hello there  this is emmad and you name is what"
print(len(detail))
print(detail.endswith("there",6,12))

47
False

### find
*  Returns the position of the first occurrence of the specified substring. Returns -1 if the substring is not found.

In [48]:
detail: str = "hello there  this is emmad and you name is what"
print(detail.find("is"))
print(detail.find("ishh"))

15
-1

### index
* Returns the position of the first occurrence of the specified substring. Raises an error if the substring is not found.

In [51]:
detail: str = "hello there  this is emmad and you name is what"
print(detail.index("is"))
# print(detail.index("ishh"))

15

### isalnum
*  Checks if all characters in the string are alphanumeric (letters or digits).

In [12]:
detail: str = "hellotherethis"
print(detail.isalnum())
data: str = "hellotherethis6"
print(data.isalnum())

True
True

### isalpha
*  Checks if all characters in the string are alphabetic (only letters).

In [63]:
detail: str = "hellotherethis"
print(detail.isalpha())
data: str = "hellotherethis6"
print(data.isalpha())

True
False

In [66]:
str1 : str = "hello world"
print(str1.islower())

True

In [67]:
str1 : str = "hello worlD"
print(str1.islower())

False

### isprintable
* The isprintable() method checks if all characters in a string are printable. It returns True if all characters are printable or if the string is empty; otherwise, it returns False.

In [68]:
str2: str = "We will meet you "
print(str2.isprintable())

True

In [69]:
str2: str = "We will meet \t you "
print(str2.isprintable())

False

### isspace
* Checks if the string consists of only whitespace characters.

In [70]:
str3: str = "Syed Emmad Ahmed"
print(str3.isspace())

False

In [75]:
str3: str = "                "
print(str3.isspace())

True

In [1]:
name: str = "Syed Emmad Ahmed"
print(name.istitle())

True

In [2]:
name: str = "Syed emmad Ahmed"
print(name.istitle())

False

In [3]:
name: str = "Syed Emmad Ahmed"
print(name.islower())

False

In [5]:
name: str = "syed emmad ahmed"
print(name.islower())

True

### swapcase 
* Swaps the case of all characters in the string (lowercase to uppercase and vice versa).

In [7]:
name: str = "syed emmad ahmed"
print(name.swapcase())

SYED EMMAD AHMED

In [8]:
name: str = "Syed Emmad Ahmed"
print(name.swapcase())

sYED eMMAD aHMED

In [9]:
name: str = "SYED EMMAD AHMED"
print(name.swapcase())

syed emmad ahmed

In [10]:
name: str = "syed emmad ahmed"
print(name.title())

Syed Emmad Ahmed