# Sring data type in python

In [2]:
#  string define in particular boundary
#  ' ' , " " , ''' ''' , """  """
name: str = "Emmad"
print(name)
print(type(name))

Emmad
<class 'str'>

In [5]:
#  conver special meaning character into simple character, place \ befor character 
message = 'PIAIC Student Card \nStudent name: \nFather\'s name: '
print(message)

PIAIC Student Card
Student name:
Father's name:

# Concatination
* Can only do in String

In [9]:
name: str = "Syed Emmad Ahmed"
fname: str = "Syed Tanveer Ahmed"
education: str = "Generative AI Specialist"
age: str = "22"

card: str = "PIAIC Student Card \nStudent name: " + name + "\nFather name: " + fname + "\nEducation: " + education + "\nAge: " + age
print(card)

PIAIC Student Card
Student name: Syed Emmad Ahmed
Father name: Syed Tanveer Ahmed
Education: Generative AI Specialist
Age: 22

In [10]:
#  we can line change by back slash -------> line continue
print(7 + \
      3 + \
        4)

14

In [12]:
name: str = "Syed Emmad Ahmed"
fname: str = "Syed Tanveer Ahmed"
education: str = "Generative AI Specialist"
age: str = "22"

card: str = "PIAIC Student Card \nStudent name: " + name + \
    "\nFather name: " + fname + \
    "\nEducation: " + education + \
        "\nAge: " + age
print(card)

PIAIC Student Card
Student name: Syed Emmad Ahmed
Father name: Syed Tanveer Ahmed
Education: Generative AI Specialist
Age: 22

# Define multiline String
* """string"""
* '''string'''

In [17]:
name: str = "Syed Emmad Ahmed"
fname: str = "Syed Tanveer Ahmed"
education: str = "Generative AI Specialist"
age: str = "22"

card: str = """
PIAIC STUDENT CARD
Name: ....
Father name: ....
Age: ...
"""
print(card)

PIAIC STUDENT CARD
Name: ....
Father name: ....
Age: ...

# fstring

In [18]:
name: str = "Syed Emmad Ahmed"
fname: str = "Syed Tanveer Ahmed"
education: str = "Generative AI Specialist"
age: int = 22

card: str = f"""PIAIC Student Card 
Student name: {name}
Father name: {fname} 
Education: {education}
Age: {age}
"""
print(card)

PIAIC Student Card
Student name: Syed Emmad Ahmed
Father name: Syed Tanveer Ahmed
Education: Generative AI Specialist
Age: 22

In [19]:
name: str = "Syed Emmad Ahmed"
fname: str = "Syed Tanveer Ahmed"
education: str = "Generative AI Specialist"
age: int = 22

card: str = f"""PIAIC Student Card 
Student name: {name}
Father name: {fname} 
Education: {education}
Age: {age}


Total = {2 + 5 + 6}  
"""

print(card)

PIAIC Student Card
Student name: Syed Emmad Ahmed
Father name: Syed Tanveer Ahmed
Education: Generative AI Specialist
Age: 22


Total = 13

### F-String and Jinja Style

In [20]:
# Fstring Style
f"""
Student name: {name}
"""

'\nStudent name: Syed Emmad Ahmed\n'

In [21]:
#  Jinja Style
"""
Student name {{name}}
"""

'\nStudent name {{name}}\n'

#### old Method use in C language

In [23]:
name: str = "Syed Emmad Ahmed"
fname: str = "Syed Tanveer Ahmed"
education: str = "Generative AI Specialist"
age: int = 22

card : str = f"""
PIAIC Student Card
Name: %s
Father name: %s
Age: %d
Education: %s

"""% (name, fname, age, education)
print(card)

PIAIC Student Card
Name: Syed Emmad Ahmed
Father name: Syed Tanveer Ahmed
Age: 22
Education: Generative AI Specialist

In [24]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

### Format method

In [25]:
a= 2
b= 4
# {} placeholer
"Pakistan value a = {} and value b = {} ".format(a,b)

'Pakistan value a = 2 and value b = 4 '

In [26]:
name: str = "Syed Emmad Ahmed"
fname: str = "Syed Tanveer Ahmed"
education: str = "Generative AI Specialist"
age: int = 22

card: str = """PIAIC Student Card 
Student name: {}
Father name: {} 
Education: {}
Age: {}
""".format(name, fname, education, age)
print(card)

PIAIC Student Card
Student name: Syed Emmad Ahmed
Father name: Syed Tanveer Ahmed
Education: Generative AI Specialist
Age: 22

In [27]:
name: str = "Syed Emmad Ahmed"
fname: str = "Syed Tanveer Ahmed"
education: str = "Generative AI Specialist"
age: int = 22

card: str = """PIAIC Student Card 
Student name: {2}
Father name: {0} 
Education: {3}
Age: {1}
""".format(fname, age, name, education)
print(card)

PIAIC Student Card
Student name: Syed Emmad Ahmed
Father name: Syed Tanveer Ahmed
Education: Generative AI Specialist
Age: 22

In [28]:
name: str = "Syed Emmad Ahmed"
fname: str = "Syed Tanveer Ahmed"
education: str = "Generative AI Specialist"
age: int = 22

card: str = """PIAIC Student Card 
Student name: {a}
Father name: {b} 
Education: {c}
Age: {d}
""".format(a=name, b=fname,c=education , d=age)
print(card)

PIAIC Student Card
Student name: Syed Emmad Ahmed
Father name: Syed Tanveer Ahmed
Education: Generative AI Specialist
Age: 22

## Recommended

In [29]:
name: str = "Syed Emmad Ahmed"
fname: str = "Syed Tanveer Ahmed"
education: str = "Generative AI Specialist"
age: int = 22

card: str = f"""PIAIC Student Card 
Student name: {name}
Father name: {fname} 
Education: {education}
Age: {age}
"""
print(card)

PIAIC Student Card
Student name: Syed Emmad Ahmed
Father name: Syed Tanveer Ahmed
Education: Generative AI Specialist
Age: 22

In [30]:
name: str = "Syed Emmad Ahmed"
fname: str = "Syed Tanveer Ahmed"
education: str = "Generative AI Specialist"
age: int = 22

card: str = """PIAIC Student Card 
Student name: {a}
Father name: {b} 
Education: {c}
Age: {d}
""".format(a=name, b=fname,c=education , d=age)
print(card)

PIAIC Student Card
Student name: Syed Emmad Ahmed
Father name: Syed Tanveer Ahmed
Education: Generative AI Specialist
Age: 22

In [35]:
student_code : str = """
print("My name in Emmad")
a : int = 1
b : int = 6
print(a + b)
"""

exec(student_code)

My name in Emmad
7

### Explore String Methods and attributes

In [37]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [39]:
name: str = "syed emmad ahmed"
print(name)
print(name.capitalize())

syed emmad ahmed
Syed emmad ahmed

In [41]:
name: str = "syed emmad ahmed"
print(name)
print(name.casefold()) # kamm same but logic alag hay
# casefold ye kheta haike kisi bhi case ko follow nahi kerna

syed emmad ahmed
syed emmad ahmed

In [42]:
name: str = "syed emmad ahmed"
print(name)
print(name.lower()) # kamm same but logic alag hay
# lowercase subko chota kerdeta hay

syed emmad ahmed
syed emmad ahmed

In [44]:
name: str = "     syed emmad ahmed     "
display(name)
display(name.lstrip())

     syed emmad ahmed
syed emmad ahmed

In [45]:
name: str = "     syed emmad ahmed     "
display(name)
display(name.rstrip())

'     syed emmad ahmed     '

'     syed emmad ahmed'

In [46]:
name: str = "     syed emmad ahmed     "
display(name)
display(name.strip())

'     syed emmad ahmed     '

'syed emmad ahmed'

In [47]:
# Regex Expression------> to remove spaces 

import re
name: str = "  syed             emmad    ahmed     "
display(name)
name1: str =re.sub(' {2,100}' , " ", name)
display(name1)

'  syed             emmad    ahmed     '

' syed emmad ahmed '

In [49]:
# Regex Expression------> to remove spaces 

import re
name: str = "  syed             emmad    ahmed     "
display(name)
name1: str =re.sub(' {2,100}' , " ", name).strip()
display(name1)

'  syed             emmad    ahmed     '

'syed emmad ahmed'

In [50]:
name: str = "syed emmad ahmed"
print(name)
print(name.title())

syed emmad ahmed
Syed Emmad Ahmed

In [52]:
name: str = "syed emmad ahmed"
print(name)
print(name.upper())
print(name.lower())

syed emmad ahmed
SYED EMMAD AHMED
syed emmad ahmed

In [ ]:
# Special meaning character
# \n
# \t
# \b

In [53]:
name: str = "\nEmmad"
print(name)

Emmad

In [54]:
name: str = "\t \t Emmad"
print(name)

	 	 Emmad

In [55]:
name: str = "Name:\bEmmad"
print(name)

NameEmmad

In [58]:
url : str = "https://google.com"
url.removeprefix("https://")
# url.removesuffix(".com")

'google.com'