In [1]:
[i for i in dir(dict) if "__" not in i]

['clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [5]:
from typing import Dict, Union, Optional

# create custom type
Key = Union[int, str] 
Value = Union[str,int,list, dict, set]

data : dict[Key, Value] = {
    "name": "Syed Emmad",
    "fname": "Syed Tanveer",
    "age": "30",
    "education": "D pharm"
}
print("Before", data)
data.clear()                                                    # clear all key value pair but object is present
print("After",data)

Before {'name': 'Syed Emmad', 'fname': 'Syed Tanveer', 'age': '30', 'education': 'D pharm'}
After {}

In [7]:
from typing import Dict, Union, Optional

# create custom type
Key = Union[int, str] 
Value = Union[str,int,list, dict, set]

data : dict[Key, Value] = {
    "name": "Syed Emmad",
    "fname": "Syed Tanveer",
    "age": "30",
    "education": "D pharm"
}
print("Before", data)
del data                                      # del remove whole object
print("After",data)

Before {'name': 'Syed Emmad', 'fname': 'Syed Tanveer', 'age': '30', 'education': 'D pharm'}

NameError: name 'data' is not defined

In [9]:
from typing import Dict, Union, Optional

# create custom type
Key = Union[int, str] 
Value = Union[str,int,list, dict, set]

data : dict[Key, Value] = {
    "name": "Syed Emmad",
    "fname": "Syed Tanveer",
    "age": "30",
    "education": "D pharm"
}
print("Before", data)
data.pop("age")                                    
print("After",data)

Before {'name': 'Syed Emmad', 'fname': 'Syed Tanveer', 'age': '30', 'education': 'D pharm'}
After {'name': 'Syed Emmad', 'fname': 'Syed Tanveer', 'education': 'D pharm'}

In [12]:
from typing import Dict, Union, Optional

# create custom type
Key = Union[int, str] 
Value = Union[str,int,list, dict, set]

data : dict[Key, Value] = {
    "name": "Syed Emmad",
    "fname": "Syed Tanveer",
    "age": "30",
    "education": "D pharm"
}
print("Before", data)
data.popitem()                                 
print("After",data)

Before {'name': 'Syed Emmad', 'fname': 'Syed Tanveer', 'age': '30', 'education': 'D pharm'}
After {'name': 'Syed Emmad', 'fname': 'Syed Tanveer', 'age': '30'}

In [15]:
from typing import Dict, Union, Optional

# create custom type
Key = Union[int, str] 
Value = Union[str,int,list, dict, set]

data : dict[Key, Value] = {
    "name": "Syed Emmad",
    "fname": "Syed Tanveer",
    "age": "30",
    "education": "D pharm"
}
print(data.get("Pakistan","Not Available"))

Not Available

In [20]:
from typing import Dict, Union, Optional

# create custom type
Key = Union[int, str] 
Value = Union[str,int,list, dict, set]

data : dict[Key, Value] = {
    "name": "Syed Emmad",
    "fname": "Syed Tanveer",
    "age": "30",
    "education": "D pharm"
}
data.setdefault("Paksitan","karachi")      # add new key or value
print(data)

{'name': 'Syed Emmad', 'fname': 'Syed Tanveer', 'age': '30', 'education': 'D pharm', 'Paksitan': 'karachi'}

In [22]:
from typing import Dict, Union, Optional

# create custom type
Key = Union[int, str] 
Value = Union[str,int,list, dict, set]

data : dict[Key, Value] = {
    "name": "Syed Emmad",
    "fname": "Syed Tanveer",
    "age": "30",
    "education": "D pharm"
}

data1 : dict[Key, Value] = {
    "name":"Syed Ibad",
    "address":"Block-13",
    "age":"26",
    "contact":"033713239264361"
}


data.update(data1)             # old key update and add new key
print(data)

{'name': 'Syed Ibad', 'fname': 'Syed Tanveer', 'age': '26', 'education': 'D pharm', 'address': 'Block-13', 'contact': '033713239264361'}

In [1]:
import pandas as pd   # type: ignore
from typing import Any, Dict
student_data : Dict[str, list[Any]] = {
    "roll_no" : [1,2,3,4],
    "name" : ["Emmad","Ammar","Ibad","Maaz"],
    "education": ["Master","Master","Master","Master"]
}


df : pd.DataFrame = pd.DataFrame(student_data)
df

   roll_no   name education
0        1  Emmad    Master
1        2  Ammar    Master
2        3   Ibad    Master
3        4   Maaz    Master

In [6]:
alien_0 = {'x_position': 0, 'y_position': 25, 'speed': 'medium'}
print(f"Original position: {alien_0['x_position']}")
# Move the alien to the right.
# Determine how far to move the alien based on its current speed.
if alien_0['speed'] == 'slow':
    x_increment = 1
elif alien_0['speed'] == 'medium':
    x_increment = 2
else:
# This must be a fast alien.
    x_increment = 3
# The new position is the old position plus the increment.
# alien_0['x_position'] = alien_0['x_position'] + x_increment
alien_0['x_position'] += x_increment
print(f"New position: {alien_0['x_position']}")

Original position: 0
New position: 2